nav, .top-bar, .top-bar-section li:not(.has-form) a:not(.button)
{
	background: #ee1d23;
}

h1,h2,h3,h4,h5,h6
{
        font-family: 'Play', sans-serif;
        text-transform: uppercase;
        color:white;
        font-weight:bold;
}

#landing h1
{
	color:white;
        text-shadow: 4px 4px 4px #333333;
        font-family: 'Play', sans-serif;
        text-transform: uppercase;
}

#landing-container
{
    width:100%;
    height:700px;
    background: url(../img/main.jpg) 50% 50% repeat;
}

.button
{
    color: black;
    background-color: white;
        -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
font-family: 'Play', sans-serif;
text-transform:uppercase;
}

.button:hover
{
    background-color:#ee1d23;
}

.top-bar
{
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
}

#links a
{
    text-transform: uppercase;
font-weight:bold;
border-bottom: 1px #fff;
font-family: 'Play', sans-serif;
font-size:14px;
}

#links a:hover
{

-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-ms-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

.dropdown li a:hover
{
    background-color:#ee1d23;
}

#landing
{
    text-shadow: 1px 1px 1px #000000;
    position:relative;
    bottom:-200px;
    display:block;
}

footer
{
    background-color:#333333;
    height:228px; /* '.push' must be the same height as 'footer' */
    text-transform:uppercase;
    font-weight:bold;
    color:white;
    font-family: 'Play', sans-serif;
}

#footer-nav
{
    list-style-type:none;
    padding:0;
    margin:0;
}

#footer-nav a
{
    color:white;
    font-family: 'Play', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

#footer-nav a:hover
{
    color:#ee1d23;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#footerNavblock
{
    border-right:1px solid #eeeeee;
    height: 150px;
    margin-top:40px;
}

#footerCollab
{
    margin-top:40px;
}

#footerCollab a
{
    color:white;
}

#footerCollab a:hover
{
    color:#ee1d23;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}


#footerCollab h3
{
    color:white;
    font-family: 'Play', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight:bold;
}

body
{
    height:auto;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-height:100%;
}

.cs-header-image
{
    width:100%;
    height:300px;
    background: url(../img/comp-sci-bg.jpg) 0 0 repeat;
}

.app-contact-image
{
    width:100%;
    height:544px;
    background: url(../img/contact-bg.png) 0 0 repeat;
}

.app-header-image
{
    width:100%;
    height:600px;
    background: url(../img/app-bg.png) 0 0 repeat;
}

.cs-header-image h1
{
    color:white;
    text-shadow: 4px 4px 4px #333333;
    padding-top:100px;
}

#cs-pedagogy
{
    color:white;
    text-shadow: 4px 4px 4px #333333;
    font-family: 'Play', sans-serif;
}

.app-header-image h1
{
    color:white;
    text-shadow: 4px 4px 4px #333333;
    padding-top:200px;
}

#cs-container
{
    background-color: #ee1d23;
    display:block;
    width: 100%;
    min-height: 100%;
    color:white;
    padding-top:40px;
    font-family: 'Play', sans-serif;
}

#faq-container
{
    background-color: #ee1d23;
    display:block;
    width: 100%;
    min-height: 100%;
    color:white;
    padding-top:40px;
    font-family: 'Play', sans-serif;
}

#app-container
{
    background-color: #ee1d23;
    display:block;
    width: 100%;
    min-height: 100%;
    color:white;
    padding-top:40px;
    font-family: 'Play', sans-serif;
}

#faq-container p a
{
    color:#333333;
}

#faq-container p a:hover
{
    text-decoration:underline;
    color:#eeeeee;
       -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#app-container p a
{
    color:#333333;
}

#app-container p a:hover
{
    text-decoration:underline;
    color:#eeeeee;
       -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/*
#app-eligibile h4, #app-note h4
{
    color:#333333
}*/

#cs-mobile-desc
{
    padding-top:40px;
}

#cs-adv-desc
{
    margin-top:50px;
}

@media only screen {

    footer
    {
    min-height:300px;
    }

} /* Define mobile styles */
