/*
Name: Cody
Description: Cody default 
Version: 1.0
Author: Sebastiano Guerriero
URL: http://codyhouse.co/
*/
.crayon-theme-cody {
	border-width: 4px !important;
	border-color: #383838 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #383838 !important;
}
.crayon-theme-cody-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.crayon-theme-cody .crayon-table .crayon-nums {
	background: #383838 !important;
	color: #7f7f7f !important;
}
.crayon-theme-cody *::selection {
	background: transparent !important;
}
.crayon-theme-cody .crayon-code *::selection {
	background: #ddeeff !important;
	color: #316ba5 !important;
}
.crayon-theme-cody .crayon-striped-line {
	background: #f7f7f7 !important;
}
.crayon-theme-cody .crayon-striped-num {
	background: #383838 !important;
	color: #7f7f7f !important;
}
.crayon-theme-cody .crayon-marked-line {
	background: #2e2e2e !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.crayon-theme-cody .crayon-marked-num {
	color: #d4d4d4 !important;
	background: #383838 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.crayon-theme-cody .crayon-marked-line.crayon-striped-line {
	background: #ececec !important;
}
.crayon-theme-cody .crayon-marked-num.crayon-striped-num {
	background: #383838 !important;
	color: #d4d4d4 !important;
}
.crayon-theme-cody .crayon-marked-line.crayon-top {
}
.crayon-theme-cody .crayon-marked-num.crayon-top {
}
.crayon-theme-cody .crayon-marked-line.crayon-bottom {
}
.crayon-theme-cody .crayon-marked-num.crayon-bottom {
}
.crayon-theme-cody .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-cody .crayon-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-cody .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-cody .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-cody .crayon-title {
	color: #333 !important;
}
.crayon-theme-cody .crayon-language {
	color: #999 !important;
}
.crayon-theme-cody .crayon-button {
	background-color: #DDD !important;
}
.crayon-theme-cody .crayon-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-cody .crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-cody .crayon-button.crayon-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-cody .crayon-button.crayon-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-cody .crayon-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-cody .crayon-pre .crayon-c {
	color: #7f7f7f !important;
}
.crayon-theme-cody .crayon-pre .crayon-s {
	color: #8ac585 !important;
}
.crayon-theme-cody .crayon-pre .crayon-p {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-ta {
	color: #cb625a !important;
}
.crayon-theme-cody .crayon-pre .crayon-k {
	color: #cb625a !important;
}
.crayon-theme-cody .crayon-pre .crayon-st {
	color: #b186bb !important;
}
.crayon-theme-cody .crayon-pre .crayon-r {
	color: #cb625a !important;
}
.crayon-theme-cody .crayon-pre .crayon-t {
	color: #b186bb !important;
}
.crayon-theme-cody .crayon-pre .crayon-m {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-i {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-e {
	color: #ce8b6b !important;
}
.crayon-theme-cody .crayon-pre .crayon-v {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-cn {
	color: #b186bb !important;
}
.crayon-theme-cody .crayon-pre .crayon-o {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-sy {
	color: #ececec !important;
}
.crayon-theme-cody .crayon-pre .crayon-n {
	color: #8ac585 !important;
	font-style: italic !important;
}
.crayon-theme-cody .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-cody .crayon-pre .crayon-h {
	color: #328bca !important;
}
.crayon-theme-cody .crayon-pre {
	color: #ffffff !important;
}
